@model WebApplication2.Models.Pro

@{
    ViewData["Title"] = "Xoá sản phẩm";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h1>Xoá @Model.NamePro</h1>

<h3>Bạn muốn xoá sản phẩm này?</h3>
<div>
    <h4>Sản phẩm</h4>
    <hr />
    <dl class="col-md-8 offset-md-2">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NamePro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NamePro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Img)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Img)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cat.Img)
        </dd>
    </dl>
    <div class="form-group">
        <form asp-action="Delete">
            <input type="hidden" asp-for="IdPro" />
            <input type="submit" value="Xoá" class="btn btn-danger float-right" />
           
        </form>
        
    </div>
</div>
